
<ion-content [fullscreen]="true">
  <ion-card class="sesion" *ngIf="!sesion">
    <ion-card-header>
      <ion-card-subtitle>Inicia sesion</ion-card-subtitle>

    </ion-card-header>
    <ion-img src="https://i.pinimg.com/originals/25/dc/b5/25dcb5f2db2f56068d52c873c16db335.png"></ion-img>

    <ion-card-content>
      <form #formLogin="ngForm">
        <div class="form-group mb-4">
          <input type="text" placeholder="Escribe tu usuario" class="form-control">
        </div>
  
        <div class="form-group mb-4">
          <input type="text" placeholder="Escribe tu contraseña" class="form-control">
        </div>
  
        <div class="form-group">
          <input type="button" class="btn btn-success w-100" value="Iniciar" >
        </div>
      </form>

    </ion-card-content>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label class="pedidos" (click)="pedidos()">ver pedidos</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label class="menu">Menu</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-slides>
    <ion-slide>
      <ion-card class="menu-comidas">
        <ion-card-content>
            <h5>Bistec en salsa verde</h5>
            <img src="../../assets/salsa_verde.png" alt="">
            <ion-radio-group>
              <ion-item>
                <ion-radio slot="start" color="danger" value="biff" class="radio-checked"></ion-radio>
                <ion-label>Agotado</ion-label>
              </ion-item>
            </ion-radio-group>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label class="mas"><ion-icon name="add-circle-outline" (click)="nueva_comida()"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
