ion-header{
    ion-title{
        text-align: center;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}

ion-content{
    --background: #f6f6f6;

    .mi-orden{
        border-radius: 2px;
        border: 1px solid #e0dada;
        margin: 5px;
        text-align: start;
    }
}

.sesion{

    margin: 0;
    height: 100%;

    ion-card-header{
        text-align: center;
        margin-bottom: 1rem;

        ion-card-subtitle{
            font-size: 22px;
            font-weight: bold;
        }
    }

    ion-img{
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    ion-card-content{
        input{
            border-radius: 20px;
            height: 3rem;
            box-shadow: 0 0 5px 5px #eae5e5;
            font-family: auto;
        }
    }
}

.card-slide{
    margin-top: 4rem;
    padding: 6px;
    box-shadow: none;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
    border-radius: 30px;

    ion-card-subtitle{
        font-weight: bold;
        font-size: 15px;
        color: black;
    }

    ion-card-content{
        ion-img{
            border-radius: 6px !important;
        }

        ion-button{
            height: 50px;
            font-size: 15px;
            font-weight: bold;
        }
    }
}