<ion-card class="pedidos">
  <ion-icon name="arrow-back-outline" class="back" (click)="back()"></ion-icon>
  <ion-label class="titulo"><strong>Pedido de hoy: </strong>viernes 13 de enero 2021</ion-label>
  <p><strong>Horarios:</strong></p>
  <ion-segment scrollable mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="10">
      <ion-label>10:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="11">
      <ion-label>11:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="12">
      <ion-label>12:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>1:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>2:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>3:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>4:00</ion-label>
    </ion-segment-button>
    <ion-segment-button value="5">
      <ion-label>5:00</ion-label>
    </ion-segment-button>
  </ion-segment>

  
  <ion-grid class="contenido">
    <ion-row>
      <ion-col size="4">
        <ion-card (click)="detalle_pedido()">
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col><ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../assets/img.jpg"></ion-img>
            <ion-label>Eulalio cruz nava</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
